@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.spacer60 {
  height: 60px;
  clear: both;
}
.spacer {
  height: 15px;
  clear: both;
}
.featured-img{
    width: 100px;
    /* height:100px; */
    /* outline: 1px solid #3FB6CB; */
    
}
.featured-imgs{
    width: 100px;
    /* outline: 1px solid #3FB6CB; */
    
}
/* -------------------- */
.projects-card{
     max-height:400px;
    align-self: normal!important;
    display: flex!important;
    flex-wrap: wrap!important;
  
}
.card, .card-header, .card-body, .card-footer{
    border-radius:0px !important;
}
.card:hover{
    -webkit-box-shadow: 0 0.2rem 1.4rem -0.8rem rgb(0 0 0 / 75%) !important;
    box-shadow: 0 0.2rem 1.4rem -0.8rem rgb(0 0 0 / 75%)!important;
    cursor: pointer !important;
}
.card-img-top{
    /* height:150px!important; */
    border-radius: 0px!important;
 
}
/* =========================== */

.card-title {
    color: #0792ea;
    font-size: 25px;
    font-weight: 700;
}
.card-span {
    color: #222;
    font-size:20px;
}

.card-city {
    color: #222;
    font-size: 20px;
}
/* links */
.links-row{
    padding: 10px;
    /* border: 1px solid blue; */

}
/* .cold{
    border: 1px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
} */
/* .links-row hr{
    width: 100%;
    height:10px;
} */
.links-row .link-heading{
    font-size:20px;
    font-weight:700;
    padding: 8px 0px;
    text-transform: uppercase;
    line-height: 40px;
}
.links-row ul{
    list-style: none;
    text-align:left;
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
}
.links-row li{
    list-style-type:none;
    list-style-position: inside;
    text-indent: -0.5em;
    /* padding-left: 1em; */
    /* border: 1px solid green; */
}


.links-row li a{
    color: #000;
    padding:6px;
    transition: 0.6s;
    text-decoration: none;
    /* border: 1px solid yellow; */
    text-align: justify;
    text-justify: inter-word; word-wrap: break-word;
    
}
.links-row li a:hover{
    text-decoration:underline;
    color: #33A137;
    /* background:#33A137; */
    padding:6px;
    border: none;
    border-radius:20px;

}

/* blogs */
.blogs-card{
    max-height:400px!important;
    align-self: normal!important;
    display: flex!important;
    flex-wrap: wrap!important;
    border: none;
    border-radius:none;
    text-overflow: justify;
    /* border: 1px solid blue !important; */
}
/* .equal-height{
    width: 100%;
    border: 1px solid red;
} */
.blogs-card .card {
    width: 100%;
    border: none !important;
    box-shadow: 0px!important;
    overflow: hidden;
}
.blogs-card .card {
    border: none !important;
}
.blogs-card .card:hover {
    border: none !important;
    box-shadow: none!important;
}
/* .blogs-card .card .card-img-top{
    height:160px!important;
} */
.blogs-card .card .card-body{
   margin: 0px!important;
   padding: 10px 0px 3px 0px!important;
}
.card-footer{
    text-align: center!important;
    padding: 6px!important;
    color: #000!important;
    background: #ffffff;
    border: 0.1rem solid #ccc;
    border-radius: 2px !important;
    transition: all .1s;

}
.card-footer:hover{
  
    background:#33A137;
    outline:1px solid #ffffff!important;
    border-radius: 2px !important;
    border-color: #fff;

}
.blogs-card a{
    color:#181717!important;
    text-decoration:none !important;

}
/* .blogs-card a:hover{
    color:#ffffff!important;
    text-decoration:none !important;

} */
.ft-a:hover{
    color:#ffffff;
}
.blog-card-heading{
    color: #0792ea;
    font-weight:700;
    text-transform:capitalize;
    font-size:15px;
    text-align: justify;
    line-height: 23px;
}
.blog-card-text{
    color:#000;
    line-height: 20px;
    font-weight:500;
    text-transform:capitalize;
    font-size:12px;
    text-align:justify;
    text-overflow: justify;
}
