{% extends 'base.html' %}
{% block main_nav %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock css %}
<section class="section-main">

</section>
{% endblock main_nav %}
{% block content %}
<section class="container table-container-main mx-auto">
    <div class="row ">
        <div class="col-12 col-md-6   mx-md-2 mt-md-2 ">
            <div class="mt-4 p-4 shadow    bg-light">
                <h3 >Register Now, It’s Free!</h3>
                <br>
             <p>    Post your properties on <b> Zameen.com</b> and directly expose them to thousands of potential investors, tenants, buyers, agents
                & brokers and other interested parties.
                Save your favourite properties in your members panel to view them later at your convenience.
                Use Zameen.com's integrated e-mail facility to track your potential buying & rental leads.
                Set-up property email alerts providing you latest listings of properties instantly as they appear on Zameen.com.
                Search the exact kind of property you are looking for, including hundreds of developments, residential & commercial
                properties, homes, villas, apartments, plots, shops, offices, complete buildings & floors, warehouses, factories and
                labour camps.</p>
            </div>

        </div>
        <div class="col-12 col-md-5 mt-2 form-container img-thumbnail shadow p-3 mb-5 bg-light rounded">
        {% if messages %}
  {% for message in messages %}
  <div {% if message.tags %} class="alert alert-{{ message.tags}}" {% endif %} role="alert">
    <strong>Well done!</strong> {{ message }}
  </div>
  {% endfor %}
  {% endif %}
            <table>
                <div class="form-button col-12 mb-3">
                    <a href="#" class=" "><button class="btn btn-primary form-control my-2"> Signup with
                            Facebook</button></a> <br>
                    <a href="#" class=""><button class="btn btn-success form-control my-2"> Signup with
                            Gmail</button></a>
                </div>
                <div class="h5 text-center col-12"><b>OR</b></div>
                <form action="" method="POST"novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                      {% comment %} {% if form.non_field_errors %}
      <div class="non-field-errors col-6">
        {% for err in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>{{ err }}</strong>
        </div>

        {% endfor %}
      </div>
      {% endif %} {% endcomment %}
{{form|crispy}}
                <button type="submit" class="form-control  btn btn-success text-center"> Signup </button>
                </form>
            </table>
                        <div class="col-12 my-2">  <a class="text-capitalize my-3"href="{% url 'sign-in' %}">already have an account login</a></div>  

        </div>

    </div>

</section>

{% endblock content %}
{% block 2ndblock %}
<section class="ndblock">

</section>
{% endblock 2ndblock %}