{% extends 'base.html' %} {% block title %} Pakistan Property Real Estate - Sell Buy Rent Homes &amp; Properties In
Pakistan Real Estate - Zameen.com{% endblock title %}
{% block content %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock css %}
<div class="container">
    <div class="spacer"></div>
    <div class="heading">
        <h3 class="heading p-3 text-center">Titanium Agencies</h3>
    </div>
    <!-- col-md- 2 column school list -->
    <div class="featurd-card row my-2 ">
        <!-- 1 col div class="featurd-" -->
        <div class="owl-carousel justify-content-between">
            <div class=" item col-12 project-card">
                <div class="mx-auto text-center">
                    <img class=" featured-img" src="{% static 'img/brands/brand-1.png' %}" alt="Card image cap" />
                    <div class="my-2">
                        <a href="#" class="text-muted">AudioJungle</a>
                    </div>
                </div>
            </div>
            <!-- 2nd column -->
            <div class="col-12 mx-auto item project-card">
                <div class="mx-auto text-center">
                    <img class="img-fluid featured-img" src="{% static 'img/brands/brand-2.png' %}"
                        alt="Card image cap" />
                    <div class="my-2">
                        <a href="#" class="text-muted">CodeCanyon</a>
                    </div>
                </div>
            </div>
            <!-- 3rd column -->
            <div class="col-12 item project-card">
                <div class="mx-auto text-center">
                    <img class="img-fluid featured-img" src="{% static 'img/brands/brand-3.png' %}"
                        alt="Card image cap" />
                    <div class="my-2">
                        <a href="#" class="text-muted">GraphicCrayer</a>
                    </div>
                </div>
            </div>
            <!--  col4thumn -->
            <div class="col-12  item project-card">
                <div class="mx-auto text-center">
                    <img class="img-fluid featured-img" src="{% static 'img/brands/brand-5.png' %}"
                        alt="Card image cap" />
                    <div class="my-2">
                        <a href="#" class="text-muted">Tutorials</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- discover new projects -->
<section class="container">
    <div class="spacer"></div>
    <div class="heading">
        <h3 class="heading p-3 text-center">Discover New Projects</h3>
    </div>
    <!-- col-md- 2 column projects list -->
    <div class="container-fluid row text-center">
        <!-- 1 col div class="featurd-" -->

        <div class="col-12 col-md-3 projects-card">

            <div class="card shadow ">
                <img class="card-img-top" src="https://images.zameen.com/w300_h300/7/1484/icon_valley_phase_2_35569.jpg"
                    alt="Card image cap ">
                <div class="card-body">
                    <div class="card-title" aria-label="Title">Icon Valley</div>
                    <div class="card-city" aria-label="City">Lahore</div>
                </div>
            </div>



        </div>
        <!-- 2nd -->
        <div class="col-12 col-md-3 projects-card">

            <div class="card">
                <img class="card-img-top" src="https://images.zameen.com/w300_h300/7/2073/db32_39173.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <div class="card-title" aria-label="Title">DB32</div>
                    <div class="card-city" aria-label="City">DHA Phase 3</div>
                </div>
            </div>

        </div>
        <!-- 3rd -->
        <div class="col-12 col-md-3 projects-card">

            <div class="card ">
                <img class="card-img-top" src="https://images.zameen.com/w300_h300/7/2074/elanza_creeks_38919.png"
                    alt="Card image cap" class="card-img">
                <div class="card-body">
                    <div class="card-title" aria-label="Title">Elzena Creaks</div>
                    <div class="card-city" aria-label="City">Islamabad</div>
                </div>
            </div>

        </div>
        <!-- 4th -->
        <div class="col-12 col-md-3 projects-card">

            <div class="card  ">
                <img class="card-img-top" src="https://images.zameen.com/w300_h300/7/2145/1947_housing_38112.jpg"
                    alt="Card image cap" class="card-img">
                <div class="card-body">
                    <div class="card-title" aria-label="Title">1947 Housing</div>
                    <div class="card-city" aria-label="City">Rawalpindi</div>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>

    <!-- end section featured  -->
</section>

<div class="container">
    <div class="spacer"></div>
    <div class="heading">
        <h3 class="heading p-3 text-center">Our Parteners</h3>
    </div>
    <!-- col-md- 2 column school list -->
    <div class="featurd-card row my-2 ">
        <!-- 1 col div class="featurd-" -->
        <div class="owl-carousel justify-content-between">
            <div class=" item col-12 project-card">
                <div class="mx-auto text-center">
                    <img class=" featured-img" src="{% static 'img/brands/brand-1.png' %}" alt="Card image cap" />
                    <div class="my-2">
                        <a href="#" class="text-muted">AudioJungle</a>
                    </div>
                </div>
            </div>
            <!-- 2nd column -->
            <div class="col-12 mx-auto item project-card">
                <div class="mx-auto text-center">
                    <img class="img-fluid featured-img" src="{% static 'img/brands/brand-2.png' %}"
                        alt="Card image cap" />
                    <div class="my-2">
                        <a href="#" class="text-muted">CodeCanyon</a>
                    </div>
                </div>
            </div>
            <!-- 3rd column -->
            <div class="col-12 item project-card">
                <div class="mx-auto text-center">
                    <img class="img-fluid featured-img" src="{% static 'img/brands/brand-3.png' %}"
                        alt="Card image cap" />
                    <div class="my-2">
                        <a href="#" class="text-muted">GraphicCrayer</a>
                    </div>
                </div>
            </div>
            <!--  col4thumn -->
            <div class="col-12  item project-card">
                <div class="mx-auto text-center">
                    <img class="img-fluid featured-img" src="{% static 'img/brands/brand-5.png' %}"
                        alt="Card image cap" />
                    <div class="my-2">
                        <a href="#" class="text-muted">Tutorials</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- location  -->
<section class="container">
    <div class="spacer"></div>
    <div class="heading">
        <h3 class="heading p-3 text-center">Popular Locations</h3>
    </div>
    <div class="heading">
        <h3 class="heading p-3 text-left">Popular Cities to Buy Properties</h3>
    </div>

    <hr>
    <div class="row links-row">
        <div class="col-12 col-md-4 cold">
            <div class="link-heading">Houses</div>
            <ul class="list-unstyled">
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Lahore-1-1.html"
                        title="Houses for sale in Lahore">Houses for sale in Lahore<span
                            class="_448b41fd">(31,317)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Karachi-2-1.html"
                        title="Houses for sale in Karachi">Houses for sale in Karachi<span
                            class="_448b41fd">(19,069)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Islamabad-3-1.html"
                        title="Houses for sale in Islamabad">Houses for sale in Islamabad<span
                            class="_448b41fd">(11,629)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Rawalpindi-41-1.html"
                        title="Houses for sale in Rawalpindi">Houses for sale in Rawalpindi<span
                            class="_448b41fd">(9,861)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Peshawar-17-1.html"
                        title="Houses for sale in Peshawar">Houses for sale in Peshawar<span
                            class="_448b41fd">(2,780)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Multan-15-1.html"
                        title="Houses for sale in Multan">Houses for sale in Multan<span
                            class="_448b41fd">(2,868)</span></a></li>
            </ul>
        </div>
        <div class="col-12 col-md-4 cold">
            <div class="spacer60"></div>
            <ul class="list-unstyled">
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Sargodha-778-1.html"
                        title="Houses for sale in Sargodha">Houses for sale in Sargodha<span
                            class="_448b41fd">(487)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Faisalabad-16-1.html"
                        title="Houses for sale in Faisalabad">Houses for sale in Faisalabad<span
                            class="_448b41fd">(2,629)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Sahiwal-782-1.html"
                        title="Houses for sale in Sahiwal">Houses for sale in Sahiwal<span
                            class="_448b41fd">(460)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Sialkot-480-1.html"
                        title="Houses for sale in Sialkot">Houses for sale in Sialkot<span
                            class="_448b41fd">(822)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Quetta-18-1.html"
                        title="Houses for sale in Quetta">Houses for sale in Quetta<span
                            class="_448b41fd">(233)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Abbottabad-385-1.html"
                        title="Houses for sale in Abbottabad">Houses for sale in Abbottabad<span
                            class="_448b41fd">(488)</span></a></li>

            </ul>
        </div>
        <div class="col-12 col-md-4 cold">
            <div class="link-heading">Flats And Appartments</div>
            <ul class="list-unstyled">
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Gujranwala-327-1.html"
                        title="Houses for sale in Gujranwala">Houses for sale in Gujranwala<span
                            class="_448b41fd">(1,516)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Murree-36-1.html"
                        title="Houses for sale in Murree">Houses for sale in Murree<span
                            class="_448b41fd">(85)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Bahawalpur-23-1.html"
                        title="Houses for sale in Bahawalpur">Houses for sale in Bahawalpur<span
                            class="_448b41fd">(907)</span></a></li>
                <li class="_5488f735 _76ddbf32 _6d0ca3cd"><span class="_9e83dab2"><a
                            href="/all-cities/pakistan-1-9.html">View all Cities</a></span></li>
            </ul>
        </div>
    </div>
    <!-- 2nd-row -->
    <div class=" ">
        <!-- <div class="spacer60"></div> -->
        <div class="heading">
            <h3 class="heading p-3 text-left">Most Popular Locations for Homes</h3>
        </div>

        <hr>
        <div class="row links-row">
            <div class="col-12 col-md-4 cold">
                <div class="link-heading">Lahore</div>
                <ul class="list-unstyled ">
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Lahore_DHA_Defence-9-1.html"
                            title="Houses for sale in DHA Defence">Houses for sale in DHA Defence<span
                                class="_448b41fd">(7,274)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Lahore_Bahria_Town-509-1.html"
                            title="Houses for sale in Bahria Town">Houses for sale in Bahria Town<span
                                class="_448b41fd">(1,818)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Lahore_Johar_Town-93-1.html"
                            title="Houses for sale in Johar Town">Houses for sale in Johar Town<span
                                class="_448b41fd">(1,167)</span></a></li>
                    <li class=""><a href="/Houses_Property/Lahore_State_Life_Housing_Society-487-1.html"
                            title="Houses in State Life Housing Society">Houses for sale in State Life
                            Housing Society<span class="_448b41fd">(474)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Flats_Apartments/Lahore_Askari-3555-1.html"
                            title="Flats for sale in Askari">Flats for sale in Askari<span
                                class="_448b41fd">(690)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Houses_Property/Lahore_Allama_Iqbal_Town-58-1.html"
                            title="Houses for sale in Allama Iqbal Town">Houses for sale in Allama Iqbal Town<span
                                class="_448b41fd">(551)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Lahore_Wapda_Town-423-1.html"
                            title="Houses for sale in Wapda Town">Houses for sale in Wapda Town<span
                                class="_448b41fd">(573)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Lahore_Paragon_City-1014-1.html"
                            title="Houses for sale in Paragon City">Houses for sale in Paragon City<span
                                class="_448b41fd">(424)</span></a></li>

                </ul>
            </div>
            <div class="col-12 col-md-4 cold">
                <div class="link-heading">Karachi</div>
                <ul class="list-unstyled ">

                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Houses_Property/Karachi_Bahria_Town_Karachi-8298-1.html"
                            title="Houses for sale in Bahria Town Karachi">Houses for sale in Bahria Town
                            Karachi<span class="_448b41fd">(4,115)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Flats_Apartments/Karachi_Bahria_Town_Karachi-8298-1.html"
                            title="Flats for sale in Bahria Town Karachi">Flats for sale in Bahria Town Karachi<span
                                class="_448b41fd">(1,775)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Karachi_DHA_Defence-213-1.html"
                            title="Houses for sale in DHA Defence">Houses for sale in DHA Defence<span
                                class="_448b41fd">(2,554)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Flats_Apartments/Karachi_DHA_Defence-213-1.html"
                            title="Flats for sale in DHA Defence">Flats for sale in DHA Defence<span
                                class="_448b41fd">(2,209)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Karachi_Gadap_Town-570-1.html"
                            title="Houses for sale in Gadap Town">Houses for sale in Gadap Town<span
                                class="_448b41fd">(1,366)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Flats_Apartments/Karachi_Gulistan_e_Jauhar-232-1.html"
                            title="Flats for sale in Gulistan-e-Jauhar">Flats for sale in Gulistan-e-Jauhar<span
                                class="_448b41fd">(2,100)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Houses_Property/Karachi_North_Karachi-282-1.html"
                            title="Houses for sale in North Karachi">Houses for sale in North Karachi<span
                                class="_448b41fd">(872)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Flats_Apartments/Karachi_Gulshan_e_Iqbal_Town-6858-1.html"
                            title="Flats for sale in Gulshan-e-Iqbal Town">Flats for sale in Gulshan-e-Iqbal
                            Town<span class="_448b41fd">(2,048)</span></a></li>

                </ul>
            </div>
            <div class="col-12 col-md-4 cold">
                <div class="link-heading">Rawalpindi/Islamabad</div>
                <ul class="list-unstyled">
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Houses_Property/Rawalpindi_Bahria_Town_Rawalpindi-632-1.html"
                            title="Houses for sale in Bahria Town Rawalpindi">Houses for sale in Bahria Town
                            Rawalpindi<span class="_448b41fd">(4,939)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Houses_Property/Islamabad_DHA_Defence-3188-1.html"
                            title="Houses for sale in DHA Defence">Houses for sale in DHA Defence<span
                                class="_448b41fd">(1,623)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Houses_Property/Islamabad_G_13-330-1.html"
                            title="Houses for sale in G-13">Houses for sale in G-13<span
                                class="_448b41fd">(719)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Houses_Property/Rawalpindi_Gulrez_Housing_Scheme-438-1.html"
                            title="Houses for sale in Gulraiz Housing Scheme">Houses for sale in Gulraiz Housing
                            Scheme<span class="_448b41fd">(142)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Flats_Apartments/Rawalpindi_Bahria_Town_Rawalpindi-632-1.html"
                            title="Flats for sale in Bahria Town Rawalpindi">Flats for sale in Bahria Town
                            Rawalpindi<span class="_448b41fd">(1,456)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Houses_Property/Islamabad_Bahria_Town-383-1.html"
                            title="Houses for sale in Bahria Town">Houses for sale in Bahria Town<span
                                class="_448b41fd">(541)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Houses_Property/Rawalpindi_Adiala_Road-478-1.html"
                            title="Houses for sale in Adiala Road">Houses for sale in Adiala Road<span
                                class="_448b41fd">(535)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Flats_Apartments/Islamabad_G_15-764-1.html"
                            title="Flats for sale in G-15">Flats for sale in G-15<span
                                class="_448b41fd">(613)</span></a></li>

                </ul>
            </div>
        </div>

    </div>

    <!-- 3rd row plots -->
    <div class=" ">
        <!-- <div class="spacer60"></div> -->
        <div class="heading">
            <h3 class="heading p-3 text-left">Most Popular Locations for Plots</h3>
        </div>

        <hr>
        <div class="row links-row">
            <div class="col-12 col-md-4 cold">
                <div class="link-heading">Lahore</div>
                <ul class="list-unstyled">
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Lahore_DHA_Defence-9-1.html"
                            title="Plots for sale in DHA Defence">Plots for sale in DHA Defence<span
                                class="_448b41fd">(20,801)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Lahore_Bahria_Town-509-1.html"
                            title="Plots for sale in Bahria Town">Plots for sale in Bahria Town<span
                                class="_448b41fd">(5,377)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Lahore_Bahria_Orchard-1474-1.html"
                            title="Plots for sale in Bahria Orchard">Plots for sale in Bahria Orchard<span
                                class="_448b41fd">(4,181)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Lahore_Raiwind_Road-128-1.html"
                            title="Plots for sale in Raiwind Road">Plots for sale in Raiwind Road<span
                                class="_448b41fd">(5,146)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Lahore_DHA_11_Rahbar-1410-1.html"
                            title="Plots for sale in DHA 11 Rahbar">Plots for sale in DHA 11 Rahbar<span
                                class="_448b41fd">(1,843)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Plots/Lahore_State_Life_Housing_Society-487-1.html"
                            title="Plots for sale in State Life Housing Society">Plots for sale in State Life
                            Housing Society<span class="_448b41fd">(904)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Plots/Lahore_Central_Park_Housing_Scheme-1013-1.html"
                            title="Plots for sale in Central Park Housing Scheme">Plots for sale in Central Park
                            Housing Scheme<span class="_448b41fd">(1,756)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Lahore_GT_Road-472-1.html"
                            title="Plots for sale in GT Road">Plots for sale in GT Road<span
                                class="_448b41fd">(3,545)</span></a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 cold">
                <div class="link-heading">Karachi</div>
                <ul class="list-unstyled ">
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Karachi_Bahria_Town_Karachi-8298-1.html"
                            title="Plots for sale in Bahria Town Karachi">Plots for sale in Bahria Town Karachi<span
                                class="_448b41fd">(10,467)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Karachi_Scheme_33-495-1.html"
                            title="Plots for sale in Scheme 33">Plots for sale in Scheme 33<span
                                class="_448b41fd">(5,067)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Karachi_DHA_Defence-213-1.html"
                            title="Plots for sale in DHA Defence">Plots for sale in DHA Defence<span
                                class="_448b41fd">(1,859)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Karachi_Gadap_Town-570-1.html"
                            title="Plots for sale in Gadap Town">Plots for sale in Gadap Town<span
                                class="_448b41fd">(4,675)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Karachi_DHA_City_Karachi-1429-1.html"
                            title="Plots for sale in DHA City Karachi">Plots for sale in DHA City Karachi<span
                                class="_448b41fd">(2,004)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Karachi_Bin_Qasim_Town-677-1.html"
                            title="Plots for sale in Bin Qasim Town">Plots for sale in Bin Qasim Town<span
                                class="_448b41fd">(703)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Karachi_Naya_Nazimabad-10079-1.html"
                            title="Plots for sale in Naya Nazimabad">Plots for sale in Naya Nazimabad<span
                                class="_448b41fd">(430)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Karachi_Scheme_45-1026-1.html"
                            title="Plots for sale in Scheme 45">Plots for sale in Scheme 45<span
                                class="_448b41fd">(401)</span></a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 cold">
                <div class="link-heading">Rawalpindi/Islamabad</div>
                <ul class="list-unstyled">
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a
                            href="/Plots/Rawalpindi_Bahria_Town_Rawalpindi-632-1.html"
                            title="Plots for sale in Bahria Town Rawalpindi">Plots for sale in Bahria Town
                            Rawalpindi<span class="_448b41fd">(12,369)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Islamabad_DHA_Defence-3188-1.html"
                            title="Plots for sale in DHA Defence">Plots for sale in DHA Defence<span
                                class="_448b41fd">(8,318)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Islamabad_Gulberg-1682-1.html"
                            title="Plots for sale in Gulberg">Plots for sale in Gulberg<span
                                class="_448b41fd">(4,832)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Islamabad_B_17-616-1.html"
                            title="Plots for sale in B-17">Plots for sale in B-17<span
                                class="_448b41fd">(2,433)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Islamabad_Bahria_Town-383-1.html"
                            title="Plots for sale in Bahria Town">Plots for sale in Bahria Town<span
                                class="_448b41fd">(4,407)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Rawalpindi_Chakri_Road-467-1.html"
                            title="Plots for sale in Chakri Road">Plots for sale in Chakri Road<span
                                class="_448b41fd">(1,660)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Islamabad_I_12-1418-1.html"
                            title="Plots for sale in I-12">Plots for sale in I-12<span
                                class="_448b41fd">(700)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Plots/Islamabad_D_12-160-1.html"
                            title="Plots for sale in D-12">Plots for sale in D-12<span
                                class="_448b41fd">(994)</span></a></li>
                </ul>
            </div>
        </div>

    </div>

    <!-- 4th row rent -->
    <!-- 3rd row plots -->
    <div class=" ">
        <!-- <div class="spacer60"></div> -->
        <div class="heading">
            <h3 class="heading p-3 text-left">Popular Cities to Rent Properties</h3>
        </div>

        <hr>
        <div class="row links-row">
            <div class="col-12 col-md-4 cold">
                <div class="link-heading">Houses</div>
                <ul class="list-unstyled">
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Houses_Property/Lahore-1-1.html"
                            title="Houses to rent in Lahore">Houses to rent in Lahore<span
                                class="_448b41fd">(7,686)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Houses_Property/Karachi-2-1.html"
                            title="Houses to rent in Karachi">Houses to rent in Karachi<span
                                class="_448b41fd">(4,217)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Houses_Property/Islamabad-3-1.html"
                            title="Houses to rent in Islamabad">Houses to rent in Islamabad<span
                                class="_448b41fd">(4,548)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Houses_Property/Rawalpindi-41-1.html"
                            title="Houses to rent in Rawalpindi">Houses to rent in Rawalpindi<span
                                class="_448b41fd">(1,945)</span></a></li>

                </ul>
            </div>
            <div class="col-12 col-md-4 cold">
                <div class="spacer60"></div>
                <ul class="list-unstyled ">
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Houses_Property/Peshawar-17-1.html"
                            title="Houses to rent in Peshawar">Houses to rent in Peshawar<span
                                class="_448b41fd">(421)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Houses_Property/Sialkot-480-1.html"
                            title="Houses to rent in Sialkot">Houses to rent in Sialkot<span
                                class="_448b41fd">(99)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Houses_Property/Abbottabad-385-1.html"
                            title="Houses to rent in Abbottabad">Houses to rent in Abbottabad<span
                                class="_448b41fd">(79)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Houses_Property/Faisalabad-16-1.html"
                            title="Houses to rent in Faisalabad">Houses to rent in Faisalabad<span
                                class="_448b41fd">(394)</span></a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 cold">
                <div class="link-heading">Flats and Apartments</div>
                <ul class="list-unstyled">
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Flats_Apartments/Karachi-2-1.html"
                            title="Flats to rent in Karachi">Flats to rent in Karachi<span
                                class="_448b41fd">(7,302)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Flats_Apartments/Lahore-1-1.html"
                            title="Flats to rent in Lahore">Flats to rent in Lahore<span
                                class="_448b41fd">(1,875)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Flats_Apartments/Islamabad-3-1.html"
                            title="Flats to rent in Islamabad">Flats to rent in Islamabad<span
                                class="_448b41fd">(3,284)</span></a></li>
                    <li class="_5488f735 _76ddbf32 _6d0ca3cd"><a href="/Rentals_Flats_Apartments/Rawalpindi-41-1.html"
                            title="Flats to rent in Rawalpindi">Flats to rent in Rawalpindi<span
                                class="_448b41fd">(731)</span></a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- location section end  -->
    <div class="spacer"></div>
</section>
<!-- blog section -->
<section class="container-fluid ">
    <!-- <div class="spacer"></div> -->
    <div class="heading">
        <h3 class="heading p-3 text-center">Recent from the Blog</h3>
    </div>
    <!-- col-md- 2 column projects list -->
    <div class="row container mx-auto p-4  ">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card">
                        <img class="card-img-top"
                            src="https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2019/04/kcrcover1.jpg"
                            alt="Card image cap">
                        <div class="equal-height">
                            <div class="card-body">
                                <h4 class="blog-card-heading">All You Need to Know About Karachi Circular Railway</h4>
                                <p class="blog-card-text">
                                    Latest Updates on KCRKarachi Circular Railway TimingsKarachi Circular Railway
                                    RouteBrief
                                    History
                                    of KCRKCR Progress Update (March,...
                                </p>
                            </div>
                        </div>
                        <a href="#!" class="text-center ft-a   ">
                            <div class="card-footer mt-auto btn text-center form-control">
                                <span class="ft-a"> Read more</span>
                            </div>
                        </a>
                    </div>

                    <!--CARD HERE-->
                </div>
                <div class="col-lg-4 d-flex align-items-stretch">
                    <!--CARD HERE-->
                    <div class="card">
                        <img class="card-img-top"
                            src="https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2019/04/kcrcover1.jpg"
                            alt="Card image cap">
                        <div class="equal-height">
                            <div class="card-body">
                                <h4 class="blog-card-heading">All You Need to Know About Karachi Circular Railway</h4>
                                <p class="blog-card-text">
                                    Latest Updates on KCRKarachi Circular Railway TimingsKarachi Circular Railway
                                    RouteBrief
                                    History
                                    of KCRKCR Progress Update (March,...
                                </p>
                            </div>
                        </div>
                        <a href="#!" class="text-center ft-a ">
                            <div class="card-footer mt-auto btn text-center form-control">
                                <span class="ft-a"> Read more</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-stretch">
                    <!--CARD HERE-->
                    <div class="card">
                        <div class="equal-height">
                            <img class="card-img-top"
                                src="https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2021/02/Blog-Cover-02-02-2121-img.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="blog-card-heading">What Do The Government Development Schemes In Punjab?</h4>
                                <p class="blog-card-text">
                                    PM’s Multi-Billion Rupee South Punjab Development Package The
                                    multi-billion rupee South Punjab developme...
                                </p>
                            </div>
                        </div>
                        <a href="#!" class="text-center ft-a ">
                            <div class="card-footer mt-auto btn text-center form-control">
                                <span class="ft-a"> Read more</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end section blog  -->
</section>



{% endblock content %}