<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d1280c6e71494411bad12bb20fab7680 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
          <link rel="icon" type="image/png" sizes="32x32" href="https://www.zameen.com/assets/favicon-32x32.d993255dfd39106b5ea27132ada5daf5.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.zameen.com/assets/favicon-16x16.8ca5a2688a70096871086b2ca87b3da8.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.zameen.com/assets/apple-touch-icon.1dbbcc9e3f454ad14d4fd0f5a25d37a3.png">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.58a38fccbf7317078b2cb17603f6cdc9.svg" color="#3ba83b">
  <title> Zameen.com </title>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d1280c6e71494411bad12bb20fab7680" ></div>
        
</body>
<script>    
    
            var map_d1280c6e71494411bad12bb20fab7680 = L.map(
                "map_d1280c6e71494411bad12bb20fab7680",
                {
                    center: [74.32525634765625, 31.521190820141896],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_109773a7a7f54d24b162dd112bb8a7b5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d1280c6e71494411bad12bb20fab7680);
        
    
            var marker_71abd18e1ccd42ce92ec87011425386a = L.marker(
                [74.32525634765625, 31.521190820141896],
                {}
            ).addTo(map_d1280c6e71494411bad12bb20fab7680);
        
</script>